<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Rutas Nicas!</title>
    <meta name="author" content="Igor Guerrero <igfgt1@gmail.com>">

    <script src="{{ STATIC_URL }}javascripts/vendor/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/backbone.min.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/app.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/screen.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/css/bootstrap.css">
    {# New stuff #}
    {#<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">#}

    {% include "js_templates.html" %}
  </head>

  <body>
    <div class="container">
      <div class="topbar">
        <div class="fill">
          <div class="container">
            <h3><a href="/">Rutas Nicas!</a></h3>
            <ul class="nav secondary-nav">
              <li>
                <a href="http://igorgue.com" target="blank" class="menu">@igorgue</a>
              </li>
            </ul>
          </div>
        </div> <!-- /fill -->
      </div> <!-- /topbar -->
    </div> <!-- /container -->

    <div class="container" id="app-header">
      <h1>(logo?)</h1>
    </div>

    <div class="container" id="app-form">
    </div> <!-- /app-container -->

    <div class="container well" id="app-results">
    </div>
  </body>
</html>
