<script type="text/template" id="place-template">
  <h1><%= name %></h1>
</script>

<script type="text/template" id="search-template">
  <form onsubmit="return false;" style="display: inline;">
    <input id="main-search" title="main-search" type="text" name="q" placeholder="Ruta?" spellcheck="false" autocomplete="off" dir="ltr" x-webkit-speech="" x-webkit-grammar="builtin:search" />
  </form>

  <div id="main-search-twipsy" class="twipsy below">
    <div class="twipsy-arrow"></div>
    <div class="twipsy-inner">Buscar aqu&iacute;</div>
  </div>
</script>
